$colr-black: #000
$colr-grey: #ccc
$colr-white: #fff

@mixin flex()
  display: flex
  align-items: center
@mixin justbetween()
  justify-content: space-between
@mixin justcenter()
  justify-content: center
@mixin clearMP()
  margin: 0
  padding: 0
@mixin textdecor()
  text-decoration: none
@mixin text-center()
  text-align: center
    
*
  @include clearMP()
  box-sizing: border-box

.container 
  max-width: 1024px
  width: 100%
  margin: 0 auto

//callback
.site-button
  text-transform: uppercase
  padding: 10px 20px
  border-radius: 25px
  background: $colr-black
  max-width: 250px
  @include flex()
  @include justcenter()
  a
    color: $colr-grey
    @include textdecor()

.center-button
  margin: 0 auto

.center-text
  @include text-center()



.header
  height: 80px
  @include flex()
  @include justbetween()
  &__flex
    @include flex()
    @include justbetween()
  &__left
    @include flex()
  &__right
    @include flex()
  &__nav
    ul
      @include flex()
      @include clearMP()
      li
        list-style-type: none
        margin-right: 20px
        a
          color: $colr-black
          @include textdecor()
  &__right
    @include flex()
    
    a
      @include textdecor()
      color: $colr-black
  &__tel
    margin-right: 20px
  &__button
    a
      background: $colr-black
      color: $colr-grey
      padding: 10px 20px
      border-radius: 25px
    
.bg
  &__block
  &__span-1
    position: absolute
    transform: translate(-200px) rotate(-20deg)
  &__span-2
    position: absolute
    transform: translate(200px) rotate(40deg)
  &__text
    h1
      font-size: 40px
  &__span-3
    position: absolute
    transform: translate(500px) rotate(70deg)
  &__button
    a
      text-decoration: none
      color: $colr-black
      padding: 10px 20px
      border-radius: 25px
      border: 1px solid $colr-black
      display: inline-block
  &__span-4
    position: absolute
    transform: translate(650px) rotate(-120deg)
  &__span-5
    position: absolute
    transform: translate(900px) rotate(190deg)

  
.work
  &__skills
    @include flex()
    @include justbetween()
  &__item
    @include flex()
    flex-direction: column
    border: 1px solid $colr-black
    border-radius: 25px
    margin: 0 10px
  &__icon
    img
      max-width: 100px
      margin-top: 15px
  &__text
    padding: 15px

.examples
  &__slider
  &__item
    margin: 0 20px
    a 

    img
      max-width: 200px
      margin: 0 auto
      
.shadow
  background: rgb(2,0,36);
  background: linear-gradient(12deg, rgba(2,0,36,1) 0%, rgba(25,219,159,1) 43%, rgba(0,212,255,1) 100%);
  &__center
  &__text
    h3
      font-size: 24px
  &__sub

.footer
  &__block
    @include flex()
    @include justbetween()
  &__nav
    ul
      li
        list-style-type: none
        a
          @include textdecor()
          color: $colr-black
  &__connection 
  &__tel
    a
      @include textdecor()
      color: $colr-black
  &__email
    a
      @include textdecor()
      color: $colr-black

.copypaste
  background-color: $colr-black
  p
    color: $colr-white